.footer {
  width: 100%;
  display: flex;
  padding: 15px;
  margin-top: 60px;
  user-select: none;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-background);
}

.footer .footer__item {
  cursor: normal;
  font-size: 15px;
  font-weight: 500;
  color: var(--white-secondary-color);
}
